# Ignore version control folders
.git
.github

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env

# Ignore unnecessary log files
*.log
*.tmp

# Ignore node_modules (if applicable)
node_modules/

# Ignore hidden system files
.DS_Store
Thumbs.db

.git
__pycache__/
*.pyc
*.log
*.tmp
.DS_Store
Thumbs.db
node_modules/
dashboard/
data/
dbt/
terraform/
logs/
plugins/
